{% extends "main_template.html" %}
{% block title %}Новини{% endblock title %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Головна</a></li>
  <li class="breadcrumb-item active">Новини</li>
</ol>
{% endblock %}
{% block content %}


<div class="text">


    <h2>Новини</h2>

<div class="row">
  {% for post in news %}
     <div class="col-lg-12">
         <div class="col-lg-3"> <img class="pull-right img-rounded" src="media/{{post.icon }}" width="200" alt=""></div>
         <div class="col-lg-9">
        <h5><a href="{{ post.link }}">{{ post.title }}</a></h5>
         <p>Опубліковано: {{ post.published_date }}</p>
        {{ post.annonce|safe }}  <a href="{{ post.link }}">read more</a>
         </div>

    </div>
    {% endfor %}
</div>
</div>
<div class="right_board">
			<form name="test" method="post" action="">
   			<input type="text" size="40">
			</form>

            <!--Вставить виджет календарь-->


            <!--Блок для баннеров-->
    </div>

{% endblock %}
