{% extends "main_template.html" %}
{% block title %}Храми{% endblock title %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Головна</a></li>
  <li class="breadcrumb-item active">Храми</li>
</ol>
{% endblock %}
{% block content %}


<div class="text">


    <h2>Храми</h2>

<div class="row">
  {% for post in tamples %}
     <div class="col-lg-12" style="padding-top:10px;"><a href="{{ post.link }}">
         <div class="col-lg-4"> <img class="img-responsive center-block" src="media/{{post.icon }}" width="200" alt=""></div>
         <div class="col-lg-8">
        <h5><a href="{{ post.link }}">{{ post.title }}</a></h5>
             <p>Настоятель: {{post.abbot}}</p>
             <p>Адреса: {{post.address}}</p>
             <p>Місто: {{post.city}}</p>
         </div>
          </a>
    </div>
<br/><hr/><br/>
    {% endfor %}
</div>
</div>
<div class="right_board">
			<form name="test" method="post" action="">
   			<input type="text" size="40">
			</form>

            <!--Вставить виджет календарь-->


            <!--Блок для баннеров-->
    </div>

{% endblock %}
