{% extends "main_template.html" %}
{% block title %}Благочиння{% endblock title %}

{% block content %}


<div class="news-page clearfix">



<div class="col-lg-12 col-md-9">
    <div class="header-news">
        {% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Головна</a></li>
  <li class="breadcrumb-item active">Благочиння</li>
</ol>
{% endblock %}</div>
  {% for post in deanery %}
     <div class="col-lg-12 col-md-9" style="padding-top:10px;">
         <a href="{{ post.id }}">
         <h2>{{post.title}}</h2>
     </a>
         {% if post.abbot != None %}
         <p>Благочинний : {{post.abbot}}</p>
         {% endif %}
         {% if post.description != None %}
         <p>{{post.description}}</p>
         {% endif %}




    </div>

    {% endfor %}
</div>
</div>

{% endblock %}
