{% extends "main_template.html" %}
{% block title %}{{post.title}}{% endblock title %}

{% block content %}


<div class="news-page clearfix">

<div class="col-lg-12 col-md-9">

<div class="header-news">
    {% block breadcrumbs %}<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Головна</a></li>
  <li class="breadcrumb-item"><a href="/deanery">Благочиння</a></li>
  <li class="breadcrumb-item active">{{post.title}}</li>
</ol>{% endblock %}
</div>

         {% if post.published_date != None %}
         <p> Дата освячування : {{ post.published_date }}</p>
         {% endif %}
         <p> Настоятель : {{post.abbot}}</p>
         <p> Адреса: {{post.address}}</p>
         <p> Благочиння : {{post.city}}</p>
         {% if phones.count > 0 %}
            <h6>Телефони</h6>
         {% for phone in phones %}
           <p>{{phone.phonenumber}} {{phone.phonename}}</p>
         {% endfor %}
         {% endif %}
        {{ post.body|safe }}


    </div>

</div>

{% endblock %}
