{% extends "main_template.html" %}
{% block title %}{{post.title}}{% endblock title %}
{% block breadcrumbs %}<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Головна</a></li>
  <li class="breadcrumb-item"><a href="/deanery">Благочиння</a></li>
  <li class="breadcrumb-item active">{{post.title}}</li>
</ol>{% endblock %}
{% block content %}


<div class="text">


    <h3>{{post.title}}</h3>

<div class="row">

     <div class="col-lg-12">

         {% if post.published_date != None %}
         <p> Дата освячування : {{ post.published_date }}</p>
         {% endif %}
         <p> Настоятель : {{post.abbot}}</p>
         <p> Адреса: {{post.address}}</p>
         <p> Благочиння : {{post.city}}</p>
         {% if phones.count > 0 %}
            <h6>Телефони</h6>
         {% for phone in phones %}
           <p>{{phone.phonenumber}} {{phone.phonename}}</p>
         {% endfor %}
         {% endif %}
        {{ post.body|safe }}
         </div>

    </div>

</div>
<div class="right_board">
			<form name="test" method="post" action="">
   			<input type="text" size="40">
			</form>

            <!--Вставить виджет календарь-->


            <!--Блок для баннеров-->
    </div>

{% endblock %}
