{% extends "main_template.html" %}
{% block title %}Архієрей{% endblock title %}
{% block breadcrumbs %}<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Головна</a></li>
   <li class="breadcrumb-item active">Архієрей</li>
</ol>{% endblock %}
{% block content %}
{# Hero Section #}

<div class="text">


    {% if about_model is None %}

    <h2>Цей розділ ще не працює - завітайте будь ласка пізніше</h2>

<div class="row">
     <div class="col-lg-12">
         <div class="col-lg-2"> <img class="pull-right img-rounded" src="https://scontent.fods1-1.fna.fbcdn.net/v/t1.0-9/30530919_164705830913047_4768127376329998948_n.jpg?_nc_cat=0&oh=444abe48ea874ab891c5f72c550441f3&oe=5B6FBBEB" width="100" alt=""></div>
         <div class="col-lg-10">
             <p>вул. Пастера, 7
м. Одеса 65023</p>
<p>
Канцелярія - тел.:(048) 783-27-81 </p><p>
 е-mail: cerkvainfo@gmail.com</p>
         </div>

    </div>

</div>

{% else %}
  <h2>{{about_model.title}}</h2>
    <div class="row">
    {{ about_model.body|safe }}
    </div>
{% endif %}
</div>
<div class="right_board">
			<form name="test" method="post" action="">
   			<input type="text" size="40">
			</form>

            <!--Вставить виджет календарь-->


            <!--Блок для баннеров-->
    </div>


{% endblock %}
