{% extends "main_template.html" %}
{% block title %}{{caption}}{% endblock title %}

{% block content %}
{# Hero Section #}

<div class="news-page clearfix">
<div id="single-news" class="col-lg-12 col-md-9 news">
    <div class="header-news">
{% block breadcrumbs %}<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Головна</a></li>
   <li class="breadcrumb-item active">Благодійникам</li>
</ol>{% endblock %}

    {% if about_model is None %}

        <div class="news-title">Вельмишановні благодійники!</div>
 </div>
<div class="col-lg-9 col-md-9">
    <p> Будемо вдячні Вам, якщо Ви відгукнетеся на наше щире прохання про благодійну фінансову допомогу.</p>

    <p>Нехай береже Вас Господь!</p>

<p>Реквізити:
Назва банку ЮЖНЕ ГРУ АТ КБ "ПРИВАТБАНК"
Рахунок отримувача    26000054216064
Код Банку (МФО)   328704
    Код отримувача           24775835</p>
         </div>

    </div>

</div>

{% else %}

  <div class="news-title">{{about_model.title}}</div>
    </div>
    <div class="col-lg-9 col-md-9">
   {{ about_model.body|safe }}
    </div>
{% endif %}
    </div>
</div>


{% endblock %}
