{% extends "main_template.html" %}

{% block content %}
{# Hero Section #}
<div class="right_board">
			<form name="test" method="post" action="">
   			<input type="text" size="40">
			</form>

            <!--Вставить виджет календарь-->
       <div class="text">
        <h2><a href="articles">Нові сттаті на сайті</a></h2>
    <div>
        <div class="row">
  {% for post in articles %}


     <div class="col-sm-2">

         <div class="col-sm-2">
        <h5><a href="articles/{{ post.link }}">{{ post.title }}</a></h5>
         <p>Опубліковано: {{ post.published_date }}</p>
         </div>

    </div>
{% endfor %}
        </div>
    </div>
       </div>
            <!--Блок для баннеров-->
</div>

<div class="text">


    <h2><a href="news">Новини</a></h2>
<div>
    <div class="row">
    {% for post in news %}


     <div class="col-lg-12">
         <div class="col-lg-4"> <img class="pull-right img-rounded" src="media/{{post.icon }}" width="200" alt=""></div>
         <div class="col-lg-8">
        <h5><a href="news/{{ post.link }}">{{ post.title }}</a></h5>
         <p>Опубліковано: {{ post.published_date }}</p>
        {{ post.annonce|safe }}  <a href="news/{{ post.link }}">read more</a>
         </div>

    </div>
{% endfor %}
        <a href="news">Всі новини &raquo &raquo &raquo</a>
    </div>
    </div>
</div>

<div class="text">
{{ patriarhia | safe }}
   

</div>

</div>


{% endblock %}