{% extends "main_template.html" %}

{% block content %}
{# Hero Section #}

<div class="news-page clearfix">
    <div class="col-lg-3 col-md-3 filter-news ">

        <!--Вставить виджет календарь-->
        <div class="col-lg-8 filter-wrap">
            <div class="title">Загальноцерковні новини</div>

            {% for item in patriarhia %}
              {{  item | safe }}
            <hr>

             {% endfor %}

        </div>

<div class="col-lg-8 filter-wrap">
            <div class="title">Укази та розпорядження</div>

            {% for edict in edicts %}
     <div class='patriarh-news'>{{ edict.published_date }} <div><a class="info-text" href="/edicts/{{ edict.link }}">{{ edict.title }}</a></div></div>

            <hr>

             {% endfor %}

        </div>

        <!--Блок для баннеров-->
    </div>

    <div class="col-lg-9 col-md-9 news">
        <!---<div class="header-news">
              <div class="news-title">Новини</div>
          </div> -->
<div class="header-news"><div class="container-fluid"><span class="title">Новини</span></div></div>
        {% for post in news %}
       <!-- {% if forloop.first %}
        <div class="col-lg-8 col-sm-8 item hot">
            <div class="wrap">
                <a class="link-news hot-news" href="/news/{{ post.link }}">
                    <img alt="{{ post.title }}" class="img-news" src="/media/{{post.icon }}" width="100%"/></a>
                <div class="news-info"><a class="info-text" href="/news/{{ post.link }}">{{ post.title }}</a>
                    <div class="info-date">{{ post.published_date }}</div>
                </div>
            </div>
        </div>
        {% else %}-->
        <div class="d-inline col-lg-4 col-sm-4 col-xs-6 item">
            <div class="wrap">
                <a class="link-news" href="news/{{ post.link }}">
                    <img alt="{{ post.title }}" class="img-news" src="media/{{post.icon }}" height=250px /></a>
                <div class="news-info">
                    <a class="info-text" href="news/{{ post.link }}">{{ post.title }}</a>
                    <div class="info-date">{{ post.published_date }}</div>
                </div>
            </div>

        </div>
      <!--  {% endif %}-->


        {% endfor %}
       <div class="header-news"><div class="container-fluid"><span class="title"><a class="more"  href="/news">Всі новини &raquo &raquo &raquo</a>

    </span></div></div>


    </div>

<div class="col-lg-12 col-md-9 news">
        <!---<div class="header-news">
              <div class="news-title">Новини</div>
          </div> -->
<!--<div class="header-news"><div class="container-fluid"><span class="title">Статті</span></div></div>
        {% for post in articles %}
        {% if forloop.first %}
        <div class="col-lg-8 col-sm-8 item hot">
            <div class="wrap">
                <a class="link-news hot-news" href="articles/{{ post.link }}">
                    <img alt="{{ post.title }}" class="img-news" src="media/{{post.icon }}" width="100%"/></a>
                <div class="news-info"><a class="info-text" href="articles/{{ post.link }}">{{ post.title }}</a>
                    <div class="info-date">{{ post.published_date }}</div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="d-inline col-lg-4 col-sm-4 col-xs-6 item">
            <div class="wrap">
                <a class="link-news" href="articles/{{ post.link }}">
                    <img alt="{{ post.title }}" class="img-news" src="media/{{post.icon }}" width="100%"/></a>
                <div class="news-info">
                    <a class="info-text" href="articles/{{ post.link }}">{{ post.title }}</a>
                    <div class="info-date">{{ post.published_date }}</div>
                </div>
            </div>

        </div>
        {% endif %}
        {% endfor %}

    </div> -->
     <!--  <div class="header-news"><div class="container-fluid"><span class="title"><a class="more" href="/articles">Всі статті &raquo &raquo &raquo</a></span></div></div>-->

</div> <!-- news-page -->


{% endblock %}
