{# HTML5 declaration #}

{% load staticfiles %}

<!DOCTYPE html>
<html>
{# Make modifiable head elements #}
<head>
    <title>{% block title %}Головна {% endblock title %} | Одесько-Балське епархіаьне управління</title>
    {% block head_favicon %}
    <link rel="icon" type="image/png"
          href="{{ STATIC_URL }}images/favicon.ico">
    {% endblock head_favicon %}
    {% block head_meta %}
    {% block head_meta_charset %}
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8"/>
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
    <meta http-equiv="Content-Language" value="uk"/>
    {% endblock head_meta_contentlanguage %}
    {# % block head_meta_viewport % #}
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    {#% endblock head_meta_viewport % #}
    {% endblock head_meta %}


    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link href="{% static 'css/site.css' %}"
          rel="stylesheet" media="all">



</head>
<body>
{# Navigation Menu #}
<div id="to_top" class="container-fluid header">
    <div class="header-top">
        <div class="logo">
            <a href="/"><img src="{% static 'images/top.png' %}"></a>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">Єпархія</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item {% if 'patriarch' in request.path %}active{% endif%}">
                <a class="nav-link" href="/patriarch">Патріарх</a>
            </li>
            <li class="nav-item {% if 'primat' in request.path %}active{% endif%}">
                <a class="nav-link" href="/primat">Предстоятель</a>
            </li>
            <li class="nav-item {% if '/archbishop' in request.path %}active{% endif%}">
                <a  class="nav-link" href="/archbishop">Архієрей</a>
            </li>
            <li class="nav-item {% if '/deanery' in request.path %}active{% endif%}">
                <a  class="nav-link" href="/deanery">Благочиння та храми</a>
            </li>
            <li class="nav-item {% if '/news' in request.path %}active{% endif%}">
                <a  class="nav-link" href="/news">Новини</a>
            </li>
            <li class="nav-item {% if '/articles' in request.path %}active{% endif%}">
                <a  class="nav-link" href="/articles">Статті</a>
            </li>
            <li class="nav-item {% if '/about' in request.path %}active{% endif%}">
                <a  class="nav-link" href="/about">Контакти</a>
            </li>

        </ul>
         <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Шукати" aria-label="Шукати">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пошук</button>
        </form>
</div>
    </nav>
</div> <!-- container-fluid header -->
    {# The Document Body #}
    <div class="cntnt">

        {% block content %}
        if you see this, something is wrong!
        {% endblock content %}
    </div> <!--center-->


</div>
</body>
{# Set of blocks that can be used to display JavaScript files #}
{% block footer_javascript %}
{% block footer_javascript_site %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
{% endblock footer_javascript_site %}
{% block footer_javascript_section %}{% endblock footer_javascript_section %}
{% block footer_javascript_page %}{% endblock footer_javascript_page %}
{% endblock footer_javascript %}
</html>