/*style.php*/
body {
	background:url(../images/vyshyvanka.png);
	margin: 0px; 
	padding: 0px; 
	background-color: #fff
	}

img {
	border:0; 
	margin:0; 
	padding:0
	}

#wrapper {
	margin-left:auto; 
	margin-right:auto; 
	margin-top:0; 
	width:1070px!important;
	vertical-align:top;
	background-color: #fff;
	border: 1px solid #828080;
	}
	
#header {
	width:1070px!important; 
	height: 175px;
	vertical-align:top;
	background:url(../images/top.png) no-repeat;
	}

.fb_style {
	padding-left:1000px;
	padding-top:20px
	}

#top_buttons {
	width:1070px!important; 
	height: 35px!important;
	vertical-align: middle;
	background:url(../images/top_buttons.png) repeat-x;
	}
	
.mb_buttons {
	padding-top:8px;
	padding-left:31;
	}

#center {
	width:100%;
	overflow:auto;
	vertical-align:top;

	}

#footer {
	background:url(../images/bottom_buttons.png) repeat-x;
	width:100%;
	vertical-align:top;
	height:120px;
	overflow:auto;
	text-align:center;
	padding-top:10px;
	background-color: #6b6c77
	}

.footer_text {
	color:#b6b7bc; 
	font-family:sans-serif; 
	font-size:14px; 
	font-style:normal; 
	text-decoration:none;
	text-align:center;
	}

.right_board{
	width:240px;
	margin:15px;
	float:right;
	vertical-align:top;
	}

input[type="text"] {
   border: 1px solid #bbc1d1;
   border-radius: 3px;
   background: #c7cbd8 !important;
   outline: none;
   height: 32px;
   width: 240px;
   color: #6c6f7c;
   font-size: 11px;
   font-family: Tahoma;
}

.subname 	{
	color:#3a3c42; 
	font-family:sans-serif; 
	font-size:16px; 
	font-style:normal; 
	text-decoration:none; 
	text-align:center;
	}

.text{
	width:750px;
	overflow:auto;
	margin:15px;
	padding:15px;
	float:left;
	vertical-align:top;
	border: 1px solid #bbc1d1;
	}
	
p {
	color:#0a3d4a; 
	font-family:sans-serif; 
	font-size:14px; 
	font-style:normal; 
	text-decoration:none; 
	text-align:justify;
	padding-top:10px;
	}
	
.name {
	color:#ff4800; 
	font-family:sans-serif; 
	font-size:18px; 
	font-style:normal; 
	font-weight:bold;
	text-decoration:none; 
	text-align:left;
	padding-top:0px;
	}
	
.subname {
	color:#22647c; 
	font-family:sans-serif; 
	font-size:16px; 
	font-style:normal; 
	text-decoration:none; 
	text-align:left;
	}



